body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#scroller {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
}

#home table {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border-spacing: 0;
    text-align: center;
    background-color: #222222;
    color: white;
    table-layout: fixed;
}

#home table td {
    opacity: 0.42;
    background-size: cover;
    background-position: center;
    transition: opacity 0.321s;
    font-size: 24px;
}

#home table td:hover {
    opacity: 1;
    cursor: pointer;
}

.textInfo {
    height: 100vh;
    width: 50vw;
    background-color: hsla(0deg, 100%, 16%, 69%);
    position: relative;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 6.9px 15px;
    border: 0;
    background-color: goldenrod;
    color: aliceblue;
    border-radius: 5px;
    transition: background-color 0.21s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background-color: black;
}

a button {
    cursor: pointer;
}

a {
    color: dodgerblue;
    transition: color 0.15s;
}

a:hover {
    color: aliceblue;
}

@media only screen and (max-width: 690px) {
    .textInfo {
        width: 100%;
    }
    
    
    #home table td {
        display: block;
        width: 100%;
        height: 50%;
        line-height: calc(100vh / 6);
    }
}

::selection {
    background-color: rgba(0, 0, 0, 0.42);
}