body {
    margin: 0;
}

#scroller {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

#home table {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border-spacing: 0;
    text-align: center;
    background-color: #222222;
    color: white;
    table-layout: fixed;
}

#home table td {
    opacity: 0.42;
    background-size: cover;
    transition: opacity 0.321s;
}

#home table td:hover {
    opacity: 1;
    
}